---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Los 5 Furiosos.">
  <div class="bg-base-100 w-full shadow-md">
    <div class="navbar max-w-4xl mx-auto">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/verafurious">5 Furiosos</a>
      </div>
      <div class="navbar-end">
        <a
          target="_blank"
          class="btn btn-primary btn-sm"
          href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_Y2FkZmE5MzUtN2M0ZS00MjQxLTg4Y2YtMDExODY5MmQyYWI2%40thread.v2/0?context=%7b%22Tid%22%3a%2233110dac-5207-4c0b-9d43-b040918278b7%22%2c%22Oid%22%3a%223f477b8d-af47-41fb-bda4-7c282304f024%22%7d"
        >
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg
            width="24px"
            height="24px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class=" fill-base-100 size-4"
            ><path
              d="M15 12V16.4C15 16.7314 14.7314 17 14.4 17H3.6C3.26863 17 3 16.7314 3 16.4V7.6C3 7.26863 3.26863 7 3.6 7H14.4C14.7314 7 15 7.26863 15 7.6V12ZM15 12L20.0159 7.82009C20.4067 7.49443 21 7.77232 21 8.28103V15.719C21 16.2277 20.4067 16.5056 20.0159 16.1799L15 12Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
          Unirme a la reunión
        </a>
      </div>
    </div>
  </div>
  <div class="max-w-4xl mx-auto flex flex-col py-10 gap-4">
    <h1 class="text-2xl text-center font-bold">
      ¿A quién le toca poner la vera daily?
    </h1>
    <ul class="timeline timeline-vertical" id="weeks"></ul>
  </div>
</Layout>

<script>
  import clsx from "clsx";
  import {
    addWeeks,
    startOfWeek,
    addMonths,
    subDays,
    subWeeks,
  } from "date-fns";

  const fourious = [
    {
      name: "Vladimir Azpeitia",
      ordinal: 1,
    },
    {
      name: "Luis Rodriguez",
      ordinal: 2,
    },
    {
      name: "Nestor Valencia",
      ordinal: 3,
    },
    {
      name: "Raul Medina",
      ordinal: 4,
    },
    {
      name: "Jair Bautista",
      ordinal: 6,
    },
    {
      name: "Fransico Salgado",
      ordinal: 5,
    },
  ];

  let startDate = startOfWeek(new Date("2024-09-23"));
  const endDate = addMonths(new Date(), 1);

  const weeks = [];

  let fouriousIndex = 0;
  while (startDate < endDate) {
    weeks.push({
      start: startDate,
      end: subDays(addWeeks(startDate, 1), 1),
      assigned: fourious[fouriousIndex % fourious.length],
    });
    startDate = addWeeks(startDate, 1);
    fouriousIndex++;
  }

  fourious.sort((a, b) => a.ordinal - b.ordinal);

  const dateIsBetween = (date: Date, start: Date, end: Date) => {
    return date >= start && date <= end;
  };

  const filteredWeeks = weeks.filter(
    (week) => week.start >= startOfWeek(subWeeks(new Date(), 1))
  );

  const weeksElement = document.getElementById("weeks") as HTMLUListElement;

  weeksElement.innerHTML = filteredWeeks
    .map((week, index) => {
      return `
			<li>
				<div
					class="${clsx("timeline-box timeline-start", {
            ["timeline-end"]: index % 2 !== 0,
            ["bg-primary/40"]: dateIsBetween(new Date(), week.start, week.end),
          })}"
				>
					<h1 class="font-black">
						${week.assigned?.name}
					</h1>
					<p class="text-base">${`${week.start.toLocaleDateString("es-MX")} - ${week.end.toLocaleDateString("es-MX")}`}</p>
				</div>
				<div class="timeline-middle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="${clsx(
              "h-5 w-5",
              dateIsBetween(new Date(), week.start, week.end)
                ? "text-primary"
                : "text-base-content"
            )}"
					>
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						/>
					</svg>
				</div>
				<hr
					class="${clsx(
            dateIsBetween(new Date(), week.start, week.end) ? "bg-primary" : ""
          )}"
				/>
			</li>
		`;
    })
    .join("");
</script>
